
// C O L O R E S
// texto
$focus-question: hsl(238, 29%, 16%); //very dark desaturated blue
$text-red: hsl(14, 88%, 65%);
$normal-question: hsl(237, 12%, 33%);
$answer: hsl(240, 6%, 50%);

// dividers
$divider: hsl(240, 5%, 91%);
